
---
import Shop from "../components/Shop.jsx";
import "../styles/styles.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Amicbridge</title>
  </head>

  <body>
    <Shop client:load />
  </body>
</html>

